$maxWidthContainer: 1400px;
$minWidth: 320px;
$maxWidth: 1440px;
$md1: $maxWidthContainer + 20;
$md2: 992.98;
$md3: 767.98;
$md4: 479.98;

$fontSize: 14px;
$fontFamily: 'Open Sans', sans;

$fontColor: #ffffff;
$bgColor: #222222;
$hoverColor: #ec8f32;

$transition: all 0.3s ease 0s;
