@import '../../styles/variables.scss';

.header {
  background: rgba(0, 0, 0, 0.92);
  padding: 40px 0px;
}

.body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
