@import './styles/variables.scss';

.loading {
  margin: 50px 0px;
  text-align: center;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 50px 0px;
  font-size: 30px;
  background-color: $errorColor;
  padding: 10px 0px;
  border-radius: 15px;
}

.text {
  font-size: 18px;
}

.top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0px;
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  width: 100%;
}
