@import './styles/variables.scss';

.top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0px;
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  width: 100%;
}
